<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>daomvc</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<!-- <init-param> -->
		<!-- <param-name>driver</param-name> -->
		<!-- <param-value>com.mysql.cj.jdbc.Driver</param-value> -->
		<!-- </init-param> -->
		<servlet-name>LearnConfigServlet</servlet-name>
		<servlet-class>com.ducat.controllers.ServletConfigContext</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LearnConfigServlet</servlet-name>
		<url-pattern>/megha</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoggingFilter</filter-name>
		<filter-class>com.ducat.filters.LoggingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.ducat.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>